<aside class="span2">
  <div class="well">
    <nav class="nav nav-list">
      <li class="nav-header">Export</li>
      <li><%= link_to 'CSV', messages_path(format: 'csv') %></li>
      <li><%= link_to 'Excel', messages_path(format: 'xls') %></li>

    </nav>
  </div>
</aside>
