<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Recorder", root_url, class: "brand" %>
      <div class="nav-collapse collapse" id="main-menu">
        <nav class="nav" id="main-menu-left">
          <li><%= link_to "Browse", messages_path %></li>
        </nav>
      </div>
    </div>
  </div>
</header>
